<a href="https://colab.research.google.com/github/Sagaust/DH-Computational-Methodologies/blob/main/Augustine_Travel_agency_database_challenge.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

 ![Emil]()

# Travel agency

Today, you are working at a travel agency. All the cities covered by this agency are stored in a Python dictionary.


They require your newly acquired Python skills to develop useful functions!

## Discover the information for one city



```
# This text is in code format
```

The information pertaining to a city is provided in a single dictionary. Let's take a look at an example below.

Please note that:
- location corresponds to latitude and longitude
- prefecture_level is measured in km2 (square kilometers)

In [2]:
paris_city = {"name": "Paris",
              "total_population": 2102650,
              "continent": "Europe",
              "location": [48.8566, 2.3522],
              "area": {
                  "prefecture_level": 105.4
              }}

1) What is the data type of the key value `location`? What about `area`?

1.   The the data type of the value of the location key is a list.
2.   The the data type of the value of the area key is a dictionary.

2) How do we get `prefecture_level` value from `paris_city` variable?

In [3]:
paris_city["area"]["prefecture_level"]

105.4

3) How do we get longitude value from `paris_city` variable?

In [4]:
paris_city["location"][1]

2.3522

4) Create a function `get_key_value_from_city` that takes two arguments `city` and `key` and outputs the key value from the city.

Eg: `get_key_value_from_city(city=paris_city, key="total_population")` will output 2102650


If a property doesn't exist, please return "not defined"

In [6]:
# create the function with the selected arguments
def get_key_value_from_city(city=None, key=None):
        # set default output
        output = "not defined"
  # set the output if the required key exists in the selected city
        if city is not None and key is not None and key in city:
          output= city[key]

        return output

In [16]:
cities = [
    {
        "name": "Paris",
        "total_population": 2102650,
        "continent": "Europe",
        "location": [48.8566, 2.3522],
        "area": {
            "prefecture_level": 105.4
        }
    },
    {
        "name": "Xi’an",
        "total_population": 12328000,
        "continent": "Asia",
        "location": [34.2667, 108.9000],
        "area": {
            "prefecture_level": 10762
        }
    },
    {
        "name": "Chengdu",
        "total_population": 14645000,
        "continent": "Asia",
        "location": [30.6600, 104.0633],
        "area": {
            "prefecture_level": 14378
        }
    },
    {
        "name": "Los Angeles",
        "total_population": 12121244,
        "continent": "North America",
        "location": [34.1141, -118.4068],
        "area": {
            "prefecture_level": 1299
        }
    },
    {
        "name": "Brooklyn",
        "continent": "North America",
        "location": [40.6501, -73.9496],
        "area": {
            "prefecture_level": 180
        }
    }
]

In [8]:
paris_info = get_key_value_from_city(city=cities[0], key="total_population")
print(paris_info)

2102650

In [10]:
LosAngeles_info = get_key_value_from_city(city=cities[3], key="total_population")
print(LosAngeles_info)

12121244

In [17]:
Brooklyn_info = get_key_value_from_city(city=cities[4], key="total_population")
print(Brooklyn_info)

not defined

## Discovering all cities

As a travel agency, they have collected multiple cities information where they manage accommodations. All of these cities are stored in a Python list called `cities`.

1) Execute the cell below to load data. How many cities do they have?

In [18]:
cities = [
    {
        "name": "Paris",
        "total_population": 2102650,
        "continent": "Europe",
        "location": [48.8566, 2.3522],
        "area": {
            "prefecture_level": 105.4
        }
    },
    {
        "name": "Xi’an",
        "total_population": 12328000,
        "continent": "Asia",
        "location": [34.2667, 108.9000],
        "area": {
            "prefecture_level": 10762
        }
    },
    {
        "name": "Chengdu",
        "total_population": 14645000,
        "continent": "Asia",
        "location": [30.6600, 104.0633],
        "area": {
            "prefecture_level": 14378
        }
    },
    {
        "name": "Los Angeles",
        "total_population": 12121244,
        "continent": "North America",
        "location": [34.1141, -118.4068],
        "area": {
            "prefecture_level": 1299
        }
    },
    {
        "name": "Brooklyn",
        "total_population": 2736074,
        "continent": "North America",
        "location": [40.6501, -73.9496],
        "area": {
            "prefecture_level": 180
        }
    }
]

There are 5 cities.

2) By utilizing your previous function `get_key_value_from_city` create a new one that accepts two arguments: `city_name` and `key` from which we desire the value.

If the city doesn't exist then return "City doesn't exist or is not covered".

Test your function with multiple examples.

In [5]:
# create the function with the selected arguments
def get_value_by_city_name_and_key(city_name, key, cities):

    # Set default output
    output = "City doesn't exist or is not covered"

    # Start the loop over cities
    for city in cities:
        if city.get("name") == city_name:
            return city.get(key, "not defined")

    return output

In [6]:
cities = [
    {
        "name": "Paris",
        "total_population": 2102650,
        "continent": "Europe",
        "location": [48.8566, 2.3522],
        "area": {
            "prefecture_level": 105.4
        }
    },
    {
        "name": "Xi’an",
        "total_population": 12328000,
        "continent": "Asia",
        "location": [34.2667, 108.9000],
        "area": {
            "prefecture_level": 10762
        }
    },
    {
        "name": "Chengdu",
        "total_population": 14645000,
        "continent": "Asia",
        "location": [30.6600, 104.0633],
        "area": {
            "prefecture_level": 14378
        }
    },
    {
        "name": "Los Angeles",
        "total_population": 12121244,
        "continent": "North America",
        "location": [34.1141, -118.4068],
        "area": {
            "prefecture_level": 1299
        }
    },
    {
        "name": "Brooklyn",
        "total_population": 2736074,
        "continent": "North America",
        "location": [40.6501, -73.9496],
        "area": {
            "prefecture_level": 180
        }
    }
]

In [11]:
# Testing the function with examples
result1 = get_value_by_city_name_and_key("Paris", "total_population", cities)
print("Paris Total Population:", result1)

Paris Total Population: 2102650

In [12]:
result2 = get_value_by_city_name_and_key("Xi’an", "continent", cities)
print("Xi'an is in which continent:", result2)

Xi'an is in which continent: Asia

In [13]:
result3 = get_value_by_city_name_and_key("Chengdu", "area", cities)
print("What is the land area of Chengdu:",result3)

What is the land area of Chengdu: {'prefecture_level': 14378}

In [14]:
result4 = get_value_by_city_name_and_key("Los Angeles", "location", cities)
print("What is the longitude and Latitude of Los Angeles:", result4)

What is the longitude and Latitude of Los Angeles: [34.1141, -118.4068]

In [15]:
result5 = get_value_by_city_name_and_key("Brooklyn", "unknown_key", cities)
print("Where is the best resturant in Brooklyn:", result5)

Where is the best resturant in Brooklyn: not defined

In [16]:
result6 = get_value_by_city_name_and_key("London", "total_population", cities)
print("What is the total population of London:", result6)

What is the total population of London: City doesn't exist or is not covered

3) Sometimes, city information can be incorrect or require updates.

Create a function `modify_city_key_value` that replaces an existing key's value by a new one provided. It takes three arguments `city_name`, `key` and `value`.

The function will generate a text message indicating one of the following scenarios:

- If the city doesn't exist or is not covered: "City doesn't exist or is not covered."
- If the provided key doesn't exist: "Key provided doesn't exist."
- If the key has been successfully updated for the city: "`key` has been updated for `city_name."

In [17]:
# create the function with the selected arguments

def modify_city_key_value(city_name, key, new_value, cities):
    # Loop over the cities
    for city in cities:
        # Check if the city is the one we're looking for
        if city.get("name") == city_name:
            # Check if the provided key exists in the city
            if key in city:
                city[key] = new_value
                return f"{key} has been updated for {city_name}."
            else:
                return "Key provided doesn't exist."

    # If the city is not found in the list
    return "City doesn't exist or is not covered."

In [18]:
cities = [
    {
        "name": "Paris",
        "total_population": 2102650,
        "continent": "Europe",
        "location": [48.8566, 2.3522],
        "area": {
            "prefecture_level": 105.4
        }
    },
    {
        "name": "Xi’an",
        "total_population": 12328000,
        "continent": "Asia",
        "location": [34.2667, 108.9000],
        "area": {
            "prefecture_level": 10762
        }
    },
    {
        "name": "Chengdu",
        "total_population": 14645000,
        "continent": "Asia",
        "location": [30.6600, 104.0633],
        "area": {
            "prefecture_level": 14378
        }
    },
    {
        "name": "Los Angeles",
        "total_population": 12121244,
        "continent": "North America",
        "location": [34.1141, -118.4068],
        "area": {
            "prefecture_level": 1299
        }
    },
    {
        "name": "Brooklyn",
        "total_population": 2736074,
        "continent": "North America",
        "location": [40.6501, -73.9496],
        "area": {
            "prefecture_level": 180
        }
    }
]

In [19]:
# test the function with examples
# Modify a city's key value
result = modify_city_key_value("Paris", "total_population", 2200000, cities)
print(result)

total_population has been updated for Paris.

In [20]:
cities

[{'name': 'Paris',
  'total_population': 2200000,
  'continent': 'Europe',
  'location': [48.8566, 2.3522],
  'area': {'prefecture_level': 105.4}},
 {'name': 'Xi’an',
  'total_population': 12328000,
  'continent': 'Asia',
  'location': [34.2667, 108.9],
  'area': {'prefecture_level': 10762}},
 {'name': 'Chengdu',
  'total_population': 14645000,
  'continent': 'Asia',
  'location': [30.66, 104.0633],
  'area': {'prefecture_level': 14378}},
 {'name': 'Los Angeles',
  'total_population': 12121244,
  'continent': 'North America',
  'location': [34.1141, -118.4068],
  'area': {'prefecture_level': 1299}},
 {'name': 'Brooklyn',
  'total_population': 2736074,
  'continent': 'North America',
  'location': [40.6501, -73.9496],
  'area': {'prefecture_level': 180}}]

In [22]:
# Update existing key
result1 = modify_city_key_value("Paris", "total_population", 2200000, cities)
print(result1)

total_population has been updated for Paris.

In [29]:
# Try updating a non-existing key
result2 = modify_city_key_value("Paris", "Budget", 8500000, cities)
print(result2)

Key provided doesn't exist.

In [27]:
# Try updating a city not in the dataset
result3 = modify_city_key_value("London", "total_population", 9000000, cities)
print(result3)

City doesn't exist or is not covered.

## Search engine

It is quite common for customers to seek destinations that are not far from their current location in order to minimize transportation costs.


The travel agency requires your assistance in developing a function that can provide a list of nearby cities.

1) Execute the code provided below to see to observe how we can calculate the distance between two locations.

Thanks to the [Geopy](https://geopy.readthedocs.io/en/stable/#) library,  this process is quite straightforward.

In [31]:
from geopy import distance

newport_ri = [41.49008, -71.312796]
cleveland_oh = [41.499498, -81.695391]

print(distance.distance(newport_ri, cleveland_oh).km)

866.4554329098685

2) What is the data type of `distance.distance(newport_ri, cleveland_oh)`? object

What is "km" then ? attribute

It's a geopy.distance.geodesic object.

You can see it with the "class" displayed.

3) Create a function `get_cities_near_by` that takes two arguments:
- customer_location: a list [lat, long]
- radius: threshold in km

if no city has been found, please return an empty list.

Note that you can use Guangyan city in China ([32.4355, 105.8436]) and a radius of 500km to test your function.

Xi'an and Chengdu are not very far...

In [ ]:
cities = [
    {
        "name": "Paris",
        "total_population": 2102650,
        "continent": "Europe",
        "location": [48.8566, 2.3522],
        "area": {
            "prefecture_level": 105.4
        }
    },
    {
        "name": "Xi’an",
        "total_population": 12328000,
        "continent": "Asia",
        "location": [34.2667, 108.9000],
        "area": {
            "prefecture_level": 10762
        }
    },
    {
        "name": "Chengdu",
        "total_population": 14645000,
        "continent": "Asia",
        "location": [30.6600, 104.0633],
        "area": {
            "prefecture_level": 14378
        }
    },
    {
        "name": "Los Angeles",
        "total_population": 12121244,
        "continent": "North America",
        "location": [34.1141, -118.4068],
        "area": {
            "prefecture_level": 1299
        }
    },
    {
        "name": "Brooklyn",
        "total_population": 2736074,
        "continent": "North America",
        "location": [40.6501, -73.9496],
        "area": {
            "prefecture_level": 180
        }
    }
]

In [39]:
from geopy.distance import distance

def get_cities_near_by(customer_location, radius, cities):
    nearby_cities = []
    for city in cities:
        city_location = city.get("location")
        if city_location:
            # Calculate the distance
            dist = distance(customer_location, city_location).km
            if dist <= radius:
                nearby_cities.append(city["name"])
    return nearby_cities

In [41]:
# Testing the function with examples

# Example 1: Customer near Paris
customer_location1 = [48.8566, 2.3522]  # Paris location
radius1 = 500  # 500 km radius
nearby_cities1 = get_cities_near_by(customer_location1, radius1, cities)

print(nearby_cities1)

['Paris']

In [42]:

# Example 2: Customer in Asia
customer_location2 = [34.2667, 108.9000]  # Xi'an location
radius2 = 2000  # 2000 km radius
nearby_cities2 = get_cities_near_by(customer_location2, radius2, cities)

print(nearby_cities2)

['Xi’an', 'Chengdu']

In [43]:
# Example 3: Customer in North America
customer_location3 = [34.1141, -118.4068]  # Los Angeles location
radius3 = 3000  # 3000 km radius
nearby_cities3 = get_cities_near_by(customer_location3, radius3, cities)

print(nearby_cities3)

['Los Angeles']

Congratulations ! You have now a search function ready for the travel agents to use !