<a href="https://colab.research.google.com/github/Sagaust/DH-Computational-Methodologies/blob/main/Augustine_Recall_Python_Basics_Challenge.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

 ![Emil]()

# Recall Python Basics

Before you start, Google Colab is going to be your friend for the next few days, so it's best to get to know each other! Here you'll find **tutorials and tips** for getting started on Google Colab. Don't worry, Colab is renowned for being user-friendly! ðŸ¤—

[Tutorials & Tips ðŸ”—](https://lewagon.notion.site/Get-Started-with-Google-Colaboratory-916b255b21fa495baa58b654c90f7f86)

### Basic initialisations

a) Initialise two variables : `a` equals to 5 and `b` equals to 20

In [1]:
a = 5
b = 20

b) Display the value of `a`

In [2]:
print(a)

5

c) Change value of `a` to 7

In [3]:
a = 7

d) Display the new value of `a`

In [4]:
print(a)

7

e) Create a new variable `d` equals to the product of variables `a` and `b`. What is the type of `d`?

In [6]:
d = int (a * b)

f) We want to switch values between `a` and `b`. How do you proceed ? Think of introducing new elements...

In [7]:
print (d)

140

### Create conditions

a) Create a new variable `e` equal to 20 and create a condition that will display "strictly greater than 5" if this variable is indeed strictly greater than 5.

Look at your course to see how the syntax of a condition is written.

In [9]:
e = 20

if e > 5:
    print("strictly greater than 5")

strictly greater than 5

b) Complete the previous code to show "less than or equal to 5" if not. Test your code on several values of `e`.

In [11]:
# Function to test the condition on different values of e
def test_e(e):
    if e > 5:
        return "strictly greater than 5"
    else:
        return "less than or equal to 5"

# Testing the function with different values of e
results = {
    "e = 20": test_e(20),
    "e = 5": test_e(5),
    "e = 0": test_e(0),
    "e = 10": test_e(10),
}

# Printing the results
for key, value in results.items():
    print(f"{key}: {value}")

e = 20: strictly greater than 5
e = 5: less than or equal to 5
e = 0: less than or equal to 5
e = 10: strictly greater than 5

c) Complete the previous code to display "equal to 5" if e is 5. Test your code on several values of e.

Take a good look at the writing of the elif in your course.

In [19]:
# Updating the function to include a condition for e being equal to 5
def test_e(e):
    if e > 5:
        return "strictly greater than 5"
    elif e == 5:
        return "equal to 5"
    else:
        return "less than or equal to 5"

# Testing the function with different values of e
results = {
    "e = 20": test_e(20),
    "e = 5": test_e(5),
    "e = 0": test_e(0),
    "e = 10": test_e(10),
    "e = -3": test_e(-3),
    "e = 7": test_e(7),
}

# Printing the results
for key, value in results.items():
    print(f"{key}: {value}")

e = 20: strictly greater than 5
e = 5: equal to 5
e = 0: less than or equal to 5
e = 10: strictly greater than 5
e = -3: less than or equal to 5
e = 7: strictly greater than 5

### Lists

a) Create a list `list_example` of values 3, 5, 12, 7, 4 and 36

In [21]:
list_example = [3, 5, 12, 7, 4, 36]
list_example

[3, 5, 12, 7, 4, 36]

Now append the value 2 to the list.

In [22]:
list_example.append(2)

b) Display the length of `list_example`

In [24]:
len(list_example)

7

In [25]:
list_example

[3, 5, 12, 7, 4, 36, 2]

c) Display the first element of the list

In [30]:
first_element = list_example[0]
first_element

3

d) Change the third item in the list to 17 and display the modified list

In [31]:
list_example[2] = 17
list_example

[3, 5, 17, 7, 4, 36, 2]

e) With a loop, display the elements of the list one below the other that are multiples of 4.

You can write the following condition `val % 4 == 0` to test if the variable `val` is a multiple of 4.

The `%` sign in Python refers to the modulo. We test if the remainder of the division of val by 4 is 0 or not.

In [32]:
multiples_of_four = [i for i in list_example if i % 4 == 0]

multiples_of_four

[4, 36]

f) Add 296 to the list `list_example`.

Display the updated list

In [36]:
list_example.append(296)
list_example

[3, 5, 17, 7, 4, 36, 2, 296]

### Dictionaries

a) Run the code below to initialise the dictionary.

In [38]:
dict_example = {
    "A": "car",
    "B": 2,
    "C": "bike"
}

b) Display the dictionary keys

In [39]:
dict_keys = dict_example.keys()

dict_keys

dict_keys(['A', 'B', 'C'])

c) Display the value of the "C" key

In [40]:
value_of_C = dict_example["C"]
value_of_C

'bike'

d) Add a new key "D" containing 8. Display the dictionary to check the result.

In [41]:
dict_example["D"] = 8

dict_example

{'A': 'car', 'B': 2, 'C': 'bike', 'D': 8}